/* npm run watch-css */
/*Basicos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c5caca;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }

@media screen and (max-width: 480px) {
  main {
    padding-top: 1%; }
  body {
    width: 100vw; } }

p {
  margin: 10px;
  font-weight: bold;
  color: black;
  font-style: italic;
  font-size: 16px; }

header {
  position: sticky;
  top: 0;
  background-color: #0275d8; }

/*Index*/
.fotos {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .fotos.fotoA {
    max-width: 600px;
    width: 100%; }
  .fotos .inicio1 {
    display: flex;
    max-width: 1400px;
    margin-bottom: 6rem; }
  .fotos .textMain {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    max-width: 600px;
    width: 100%; }
    .fotos .textMain p {
      margin: 0px;
      padding: 10px;
      background-color: rgba(224, 255, 255, 0.4);
      word-wrap: break-word;
      max-width: 600px;
      width: 100%; }

@media screen and (max-width: 480px) {
  .fotoA {
    max-width: 480px;
    width: 100%; }
  .inicio1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; } }

/*Equipo*/
.equipo {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(224, 255, 255, 0.4); }
  .equipo p {
    text-align: right; }
  .equipo .jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .equipo .jugadores section {
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 1%; }
      .equipo .jugadores section img {
        border: 2px solid rgba(224, 255, 255, 0); }
        .equipo .jugadores section img:hover {
          border: 2px solid black;
          transform: translate(0px, -5px); }
      .equipo .jugadores section h3 {
        margin: 10px;
        margin-left: 0;
        color: black;
        font-style: italic;
        font-size: 1,2rem;
        word-wrap: break-word;
        width: 100%; }

@media screen and (max-width: 480px) {
  .jugadores {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .jugadores section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .jugadores section .fotoE {
        width: calc(50% - 10px);
        margin-bottom: 20px; } }

/*Lista*/
.animaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(224, 255, 255, 0.4); }
  .animaciones .club {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 1rem; }
    .animaciones .club .textoCl {
      max-width: 400px;
      width: 100%;
      height: 300px; }
      .animaciones .club .textoCl h1 {
        margin: 5px;
        font-size: 2rem; }
      .animaciones .club .textoCl p {
        font-size: 1.4rem; }
    .animaciones .club .fotoCl {
      width: 600px;
      height: 300px;
      object-fit: cover;
      transition: width 0.4s, height 0.4s; }
      .animaciones .club .fotoCl:hover {
        animation-duration: 4s;
        animation-name: efecto1;
        animation-iteration-count: infinite;
        width: 800px;
        height: 300px; }

@media screen and (max-width: 480px) {
  .club {
    max-width: 460px;
    width: 100%;
    flex-direction: column; }
    .club .textoCl {
      max-width: 460px;
      width: 100%; }
    .club .fotoCl {
      max-width: 460px;
      width: 100%;
      animation: none; } }

/*Estad*/
.estad .textos {
  padding: 20px;
  background-color: #b2dae6; }

.estad .cards {
  display: flex;
  justify-content: space-around;
  padding: 10px; }
  .estad .cards .card {
    background-color: #b2dae6; }

@media screen and (max-width: 480px) {
  .estad .textos {
    padding: 0; }
  .estad .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px; }
    .estad .cards .card {
      background-color: #b2dae6; } }

/*Trofeos*/
.cabinet {
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas: "texto texto texto texto texto" "trofeos trofeos trofeo1 trofeo2 trofeo3" "trofeos trofeos trofeo4 trofeo5 trofeo6"; }
  .cabinet div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center; }
  .cabinet .texto {
    grid-area: texto;
    border: 1px solid black;
    background-color: #b2dae6; }
    .cabinet .texto p {
      font-weight: bold;
      color: black;
      font-style: italic;
      font-size: 20px;
      display: flex;
      justify-content: right; }
  .cabinet .trofeos {
    grid-area: trofeos;
    border: 1px solid black; }
  .cabinet .trofeo1 {
    grid-area: trofeo1; }
  .cabinet .trofeo2 {
    grid-area: trofeo2; }
  .cabinet .trofeo3 {
    grid-area: trofeo3; }
  .cabinet .trofeo4 {
    grid-area: trofeo4; }
  .cabinet .trofeo5 {
    grid-area: trofeo5; }
  .cabinet .trofeo6 {
    grid-area: trofeo6; }
  .cabinet .trofeo img:hover {
    transform: scale(2, 2); }
  .cabinet .trofeos img {
    height: 100%;
    width: 100%; }

@media screen and (max-width: 480px) {
  .cabinet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas: "texto texto" "trofeos trofeo1" "trofeos trofeo2" "trofeo3 trofeo4" "trofeo5 trofeo6"; }
    .cabinet .texto p {
      font-size: 1rem; } }
