/*Equipo*/

.equipo{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: $textbg;
  
    p{
      text-align: right;
    }
  
  .jugadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    section{
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 1%;
  
      img{
        border: 2px solid rgba(224, 255, 255, 0);
  
        &:hover{
          border: 2px solid black;
          transform: translate(0px, -5px);
        }
      }
      
  
      h3{
        margin: 10px;
        margin-left: 0;
        color: black;
        font-style: italic;
        @include size4;
        word-wrap: break-word;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .jugadores{
    display: flex;
    flex-direction: column;
    align-items: center;

    section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
  
      .fotoE{
        width: calc(50% - 10px);
        margin-bottom: 20px;
      }
    }
  }
}


