/*Estad*/
  
.estad{
  .textos{
    padding: 20px;
    background-color: $textbg2;
  }

  .cards{
    display: flex;
    justify-content: space-around;
    padding: 10px;

    .card{
      background-color: $textbg2;
    }
  }
}

@media screen and (max-width: 480px){
  .estad{
    .textos{
      padding: 0;
    }
    .cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
  
      .card{
        background-color: rgb(178, 218, 230);
      }
    }
  }
}



