/*Index*/

.fotos{
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.fotoA{
    max-width: 600px;
    width: 100%;
  }
  
  .inicio1{
    display: flex;
    max-width: 1400px;
    margin-bottom: 6rem;
  }

  .textMain{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    max-width: 600px;
    width: 100%;
  
    p{
      margin: 0px;
      padding: 10px;
      background-color: $textbg;
      word-wrap: break-word;
      max-width: 600px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px){
  &.fotoA{
    max-width: 480px;
    width: 100%;
  }
  .inicio1{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}

